/* imports */

@import url('_partials/variables.css');

@import url('components/spacer-after-before.css');

@import url('components/component-img.css');

/* /imports */

/* **main** */

/* *jumbotron* */
.jumbotron .avatar-img {
  width: 280px;
}

.jumbotron .avatar-img img {
  width: 100%;
  display: block;
}

/* * /jumbotron * */

.portfolio .content {
  background-color: red;
}

.circle-around {
  position: relative;
}

.circle-around::before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);

  border: currentColor solid 2px;
}

/* ** /main ** */
