/* spacer con elmento al centro */

.spacer-star {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .spacer-star:nth-child(1) {
  padding: 0 20px;
} */

.spacer-star::before,
.spacer-star::after {
  content: '';

  height: 5px;
  width: 20%;
  max-width: 150px;
  border-radius: 4px;

  background-color: currentColor;
}
