/* spacer con elmento al centro */

.spacer-star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer-star > * {
  padding: 0 1.875rem;
  font-size: 2rem;
}

.spacer-star::before,
.spacer-star::after {
  content: '';

  height: 5px;
  width: 20%;
  max-width: 150px;
  border-radius: 4px;

  background-color: currentColor;
}
